//
//  NewMingCodeLibrary.release.xcconfig
//  NewMingCodeLibrary
//
//  Created by Fanming on 16/1/8.
//  Copyright © 2016年 Guangzhou Ligo Information Technology Co.,Ltd. All rights reserved.
//
USER_HEADER_SEARCH_PATHS = ../**
OTHER_LDFLAGS = -ObjC -all_load
HEADER_SEARCH_PATHS = $(SDKROOT)/usr/include/libxml2